.header-div > div {
    display: flex;
    justify-content: space-between;
}
.header-drawer-button {
    padding: 10px 20px !important;
    font-weight: 500 !important;
}
.header-button {
    margin-right: 20px !important;
    font-weight: 500 !important;
}