.App {
  overflow-x: hidden;
  width: 100vw;
}

.App > div {
  margin: 30px 40px;
}

#map-div {
  height: 400px;
}
#map-div .rect-fill-js-wrapper-style > div {
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid black;
}