.App {
  overflow-x: hidden;
  width: 100vw;
}

.App > div {
    margin: 5px 40px;
    padding: 15px 0;
}

#map-div {
  height: 360px;
}
#map-div .rect-fill-js-wrapper-style > div {
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid black;
}